<h1>Contact Us</h1>
<%= form_tag(contact_send_path)%>
  <div>
    <%= label_tag(:name, "Name") %><br/>
    <%= text_field(:current_user, :name) %>
  </div>
  <div>
    <%= label_tag(:email, "Email Address") %><br/>
    <%= email_field(:user, :email) %><br/>
  </div>
  <div>
    <%= label_tag(:message, "Message") %><br/>
    <%= text_area_tag(:message, "Hi, Everest App Team: ", size: "50x20") %>
  </div>
  <div>
    <%= button_to "Send", action: "contact" %>
  </div>

  