<%= render 'layouts/navbar' %>
<br>
<br>
<br>
<br>

<div class="container">

<h1 class="headline text-left">Welcome to Base Camp</h1>

  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>


  <div class="row">


    <!-- Column for Profile Picture -->
    <div class="col-xs-3">
        <%= image_tag @avatar, :class => "roundedCorners" %>
    </div>



    <!-- Column for Profile Name and Data -->
    <div class="col-xs-3">
        <h2 class="subhead"><%= @user.name %></h2>
        <h4 class="fa fa-bolt fa-3x"><strong> <%= @distance %> Miles traveled all time!</strong></h4>
        <h4 class 'fa fa-bold fa-3x'><strong> <%= @climb %> total feet climbed!</strong></h4>

        <h3><a class="fa fa-heart fa-1x" href="#">Follow Me</a></h3>
    </div>

    <div class="col-xs-6">
      <div id="donut-example"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>



<!-- Morris Line Chart -->
<div id="myfirstchart" style="height: 400px; width: 100%;"></div>

<!-- Morris Donut Chart -->


  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>


<!-- Morris Bar Graph -->
<div id="bar-example"></div>
</div>
<div class=".col-xs-3 text-center">
  </div>




</div>





  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>








<script>

// Line chart

new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { year: '20 Miles', value: 0 },
    { year: '30 Miles', value: 10 },
    { year: '40 Miles', value: 20 },
    { year: '50 Miles', value: 30 },
    { year: '60 Miles', value: 40 }
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'year',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value']
});

// Donut Chart

Morris.Donut({
  element: 'donut-example',
  data: [
    {label: "Calories Used", value: 50000000},
  ]
});


// Bar Graph

Morris.Bar({
  element: 'bar-example',
  data: [
    { y: '2006', a: 100, b: 90 },
    { y: '2007', a: 75,  b: 65 },
    { y: '2008', a: 50,  b: 40 },
    { y: '2009', a: 75,  b: 65 },
    { y: '2010', a: 50,  b: 40 },
    { y: '2011', a: 75,  b: 65 },
    { y: '2012', a: 100, b: 90 }
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Series A', 'Series B']
});


</script>










