<%= render 'layouts/navbar' %>

<!-- Main Profile Container -->
<div class="mainProfile">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="headline text-center">Welcome to Base Camp</h1>
      </div>
    </div>

    <!-- Profile Info -->
    <div class="row text-left">
      <div class="col-xs-0">
      </div>
      <div class="col-xs-6 text-right">
        <%= image_tag avatar, :class => "roundedCorners" %>
      </div>
      <div class="col-xs-4">
        <h1><%= @user.name %></h1>
        <h4>Joined on <%= @user.created_at.to_date %></h4>
        <h4 class="fa fa-heart fa-1x"><a class="blackLink" href="https://www.fitbit.com"> Check out Fitbit.com</a>
        </h4><br>
        
        <% if current_user.goal == nil %>
          <%= link_to "Make a New Goal", "/goals/new", class: "btn btn-primary", data: { no_turbolink: true } %>
        <% else %>
          <%= link_to "View Current Goal", "/goals/" + current_user.goal.id.to_s ,class: "btn btn-primary", data: { no_turbolink: true } %>
        <% end %>
      </div>
      <div class="col-xs-1">
      </div>
    </div>
      <div class="row">
        <div class="col-xs-12"><br><br></div>
      </div>
    </div>
  </div>
</div><!-- Close Container -->

<!-- Section 2 Container -->
  <!-- Distance section -->
<div class="container">
    <div class="col-xs-1">
    </div>
  <div class="row">
    <div class="col-xs-10 text-center">
      <img class="fa fa-bolt fa-5x" />
      <h1 class="fa fa-bolt fa-5x sectionTitle"><strong> <%= distance %></strong></h1>
      <h1 class="sectionHeadline text-center"> All time miles!</h1>
      <hr>
    </div>
      <div class="col-xs-1">
      </div>
  </div>

  <!-- Climb total -->
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10 text-center">
      <h1 class="fa fa-flag fa-5x sectionTitle"><strong> <%= climb %></strong></h1>
      <h1 class="sectionHeadline text-center"> Total feet climbed!</h1>
      <hr>
    </div>
    <div class="col-xs-1">
    </div>
  </div>


  <!-- Total Buildings -->
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10 text-center">
      <h1 class="fa fa-building-o fa-5x sectionTitle"><strong> <%= empire_state %></strong></h1>
      <h1 class="sectionHeadline text-center"> Times you've climbed<br>the Empire State Building!</h1>
      <br>
    </div>
    <div class="col-xs-1">
    </div>
  </div>

    <!-- Total Earth -->
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10 text-center">
      <h1 class="fa fa-globe fa-5x sectionTitle"><strong> <%= (distance / 24901 * 100).round(2) %>%</strong></h1>
      <h1 class="sectionHeadline text-center"> Walked around the Earth!</h1>
    </div>
  </div>
  <div class="col-xs-1">
  </div>
</div><!-- Close Container -->


<%= render 'layouts/footerstatic' %>
