<div class="row">
  <div class="col-xs-1 text-left">
  </div>

  <div class="col-xs-10">
    <div class="navbar-form">
      <%= form_for @goal do |f| %>

        <div class="input-group-lg">

      <% if @goal.errors.any? %>
      <div id="error_explanation">
        <h3 class="text-center"><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved</h3>

          <% @goal.errors.full_messages.each do |msg| %>
            <p class="text-center"><%= msg %></p>
          <% end %>
      </div>
      <% end %>
          
          <%= f.text_field :name, id: "goalForm", class: "form-control", placeholder: "Ex. Distance from Boston to New York" %>

          <%= f.submit 'Get Started', class: "btn btn-primary btn-lg" %></br>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-1 text-left">
  </div>

</div>
