<%= render 'layouts/navbar' %>

<div class="container">
  <!-- Headline Row -->
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1 class="headline">Contact Us</h1>
    </div>
  </div>

  <!-- Form Section -->
  <div class="row">
    <div class="col-xs-3 text-center">
    </div>

      <div class="col-xs-6 form-group text-left">
        <%= form_for @contact do |f| %>
          <div>
            <h3><%= f.label :name %></h3>
            <%= f.text_field :name, class: "form-control" %><br>
          </div>
          <div>
            <h3><%= f.label :email %></h3>
            <%= f.text_field :email, class: "form-control" %><br>
          </div>
          <div>
            <h3><%= f.label :message %></h3>
            <%= f.text_area :message, size: "50x10", class: "form-control" %><br>
          </div><br>
          <div>
            <%= f.submit 'Send Message', class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
      </div>

    <div class="col-xs-3 text-center">
    </div>
  </div>
</div><!-- Close Container -->


<%= render 'layouts/footer' %>