<%= render 'layouts/navbar' %>
<br>
<br>
<br>
<br>

<div class="container">

<h1 class="headline text-center">Welcome to Goals Wall</h1>

  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>


  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8">
      <h1>Your Goals</h1>
      <hr>
    </div>

    <div class="col-xs-2">
    </div>

  </div>

<!-- section 1 -->
  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-5">
      <h3><a href="#">Climb Empire State Building</a></h3>
      <h3 class="fa fa-sun-o fa-2x">20204.0 Miles</h3>
    </div>

    <div class="col-xs-3">
      <%= link_to "View Stats", "/goals/new", class: "btn grow btn-primary" %>
    </div>

    <div class="col-xs-2">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8">
      <hr>
    </div>

    <div class="col-xs-2">
    </div>
  </div>


<!-- section 2 -->
  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-5">
      <h3><a href="#">Climb Empire State Building</a></h3>
      <h3 class="fa fa-sun-o fa-2x"> 20204.0 Miles</h3>
    </div>

    <div class="col-xs-3">
      <%= link_to "Create", "/goals/new", class: "btn grow btn-primary" %>
    </div>

    <div class="col-xs-2">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-0">
    </div>

    <div class="col-xs-12">
      <hr>
    </div>

    <div class="col-xs-0">
    </div>
  </div>





  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8">
      <h1 class="headline text-center">All Amazing Goals</h1>
    </div>

    <div class="col-xs-2">
    </div>

  </div>

    

<% @goals.each do |goal| %>
  <div class="row">
    <div class="col-xs-2">
    </div>
  <div class="col-xs-8 text-center">
    <div class="thumbnail ">
      <div class="caption">
        <h1 class="goalheadline"><%= goal.name%></h1>
        <h2>Distance: <%= goal.distance %></h2>
        <p><%= link_to "Your goal!!", goal_path(goal.id), class: "btn btn-primary btn-lg btn-block", data: { no_turbolink: true } %></p>
      </div>
    </div>
  </div>

    <div class="col-xs-2">
    </div>
  </div>
<% end %>





</div>
</div>


<%= render 'layouts/footerstatic' %>

