<%= render 'layouts/navbar' %>
<br>
<br>
<br>
<br>

<div class="container">

<h1 class="headline text-center">Welcome to Goals Wall</h1>

  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>


  <div class="row">
    <div class="col-xs-2">
    </div>
<% if current_user.goal %>
    <div class="col-xs-8">
      <h1>Your Goal</h1>
      <hr>
    </div>

    <div class="col-xs-2">
    </div>

  </div>

<!-- section 1 -->

  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-5">
      <h3><%=current_user.goal.name%></h3>
      <h3 class="fa fa-sun-o fa-2x"><%=current_user.goal.distance%> miles</h3>
    </div>


    <div class="col-xs-3">
      <%= link_to "View Stats", goal_path(current_user.goal_id) ,class: "btn grow btn-primary", data: { no_turbolink: true } %>
    </div>

    <div class="col-xs-2">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8">
      <hr>
    </div>

    <div class="col-xs-2">
    </div>
  </div>


<!-- section 2 -->
<% else%>
  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-3">
      <%= link_to "Make a New Goal", "/goals/new", class: "btn grow btn-primary" %>
    </div>

    <div class="col-xs-2">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-0">
    </div>

    <div class="col-xs-12">
      <hr>
    </div>

    <div class="col-xs-0">
    </div>
  </div>
  <%end%>


<!-- section three -->
  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8">
      <h1 class="headline text-center">Other Amazing Goals</h1>
    </div>

    <div class="col-xs-2">
    </div>

  </div>

    

<% @goals.each do |goal| %>
  <% unless goal == current_user.goal%>
    <div class="row">
      <div class="col-xs-2">
      </div>
    <div class="col-xs-8 text-center">
      <div class="thumbnail ">
        <div class="caption">
          <h1 class="goalheadline"><%= goal.name%></h1>
          <h2>Distance: <%= goal.distance %></h2>
          <% unless current_user.goal %>
          <p><%= button_to "Add this as your goal", add_path(goal.id), method: :patch, class: 'btn btn-primary btn-lg default', data: { no_turbolink: true } %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-2">
    </div>
  </div>
  <%end%>
<% end %>





</div>
</div>


<%= render 'layouts/footerstatic' %>

