<%= render 'layouts/navbar' %>
<br>
<br>
<br>
<br>

Hello?
<%= debug @input %>

<div class="container">
  <div class="row">
    <div class=".col-xs-3 text-center">


<h1 class="headline">Current Goals</h1>

<div class=".col-xs-12 text-center">
  <%= link_to "Make a new goal", "/goals/new", class: "btn grow btn-primary" %>
</div>
 
<% @goals.each do |goal| %>
  <div class="row">
    <div class="span3 offset1">
      <h1><a href="<%=goal_path(goal.id)%>"><%= goal.name%></a></h1>
    </div>
  </div>
<% end %>








    </div>
  </div>
</div>
<%= render 'layouts/footerstatic' %>


