<%= render 'layouts/navbar' %>
<br>
<br>
<br>
<br>

<div class="container">

<h1 class="headline text-center">Welcome to Goals Wall</h1>

  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>


  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8">
      <h1>Your Goals</h1>
      <hr>
    </div>

    <div class="col-xs-2">
    </div>

  </div>

<!-- section 1 -->
  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-5">
      <h3><a href="#">Climb Empire State Building</a></h3>
      <h3 class="fa fa-sun-o fa-2x">20204.0 Miles</h3>
    </div>

    <div class="col-xs-3">
      <%= link_to "View Stats", "/goals/new", class: "btn grow btn-primary" %>
    </div>

    <div class="col-xs-2">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8">
      <hr>
    </div>

    <div class="col-xs-2">
    </div>
  </div>


<!-- section 2 -->
  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-5">
      <h3><a href="#">Climb Empire State Building</a></h3>
      <h3 class="fa fa-sun-o fa-2x"> 20204.0 Miles</h3>
    </div>

    <div class="col-xs-3">
      <%= link_to "View Stats", "/goals/new", class: "btn grow btn-primary" %>
    </div>

    <div class="col-xs-2">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-0">
    </div>

    <div class="col-xs-12">
      <hr>
    </div>

    <div class="col-xs-0">
    </div>
  </div>





  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8">
      <h1>All Goals</h1>
      <hr>
    </div>

    <div class="col-xs-2">
    </div>

  </div>



<% @goals.each do |goal| %>
  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-5">
      <h3><a href="<%=goal_path(goal.id)%>"><%= goal.name%></a></h3>
      <h3 class="fa fa-sun-o fa-2x"> 20204.0 Miles</h3>
    </div>

    <div class="col-xs-3">
      <%= link_to "View Stats", "/goals/new", class: "btn grow btn-primary" %>
    </div>

    <div class="col-xs-2">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8">
      <hr>
    </div>

    <div class="col-xs-2">
    </div>
  </div>
<% end %>






</div>

<br>
<br>
<br>
<br>
<br>
<%= render 'layouts/footerstatic' %>


