<%= render 'layouts/navbar' %>

<div class="container">

  <!-- Goal Information from Wolfram -->
  <div class="row">
    <div class="col-xs-12 text-center">
        <h1 class="headline">Climbing <%= @goal.name%></h1>
        <h3>Distance: <%= @goal.distance%> miles</h3></br>
    </div>
  </div>

  <!-- Goal Navbar -->
  <div class="row">
    <div class="col-xs-1 text-center">
    </div>
    <div class="col-xs-10 text-center">
      <%= render 'goalnavbar' %>
    </div>
    <div class="col-xs-1 text-center">
    </div>
  </div>

<!-- Morris Line Chart -->
<div id="goalchart" style="height: 400px; width: 100%;">
</div>

<!-- Morris Donut Chart -->
 <div class="row">
    <div class="col-xs-1 text-center">
    </div>
    <div class="col-xs-10 text-center">
      <div id="goaldonut">
      </div>

      </div>
    </div>
    <div class="col-xs-1 text-center">
    </div>
  </div>


<%= render 'layouts/footer' %>





