<%= render 'layouts/navbar' %>

<div class="container">

  <!-- Goal Information from Wolfram -->
  <div class="row">
    <div class="col-xs-12 text-center">
        <h1 class="headline">Climbing <%= @goal.name%></h1>
        <h3>Distance: <%= @goal.distance%> miles</h3></br>
    </div>
  </div>

  <!-- Goal Navbar -->
  <div class="row">
    <div class="col-xs-1 text-center">
    </div>
    <div class="col-xs-10 text-center">
      <%= render 'goalnavbar' %>
    </div>
    <div class="col-xs-1 text-center">
    </div>
  </div>


<!-- http://www.oesmith.co.uk/morris.js/index.html -->
  <!-- Morris Graph -->
  <div class="row">
    <div class="col-xs-1 text-center">
    </div>
    <div class="col-xs-10 text-center">
      <div id="area-example"  style="height: 500px; width: 100%;"></div>
    </div>
    <div class="col-xs-1 text-center">
    </div>
  </div>


  <!-- Morris Donut -->
  <div class="row">
    <div class="col-xs-1 text-center">
    </div>
    <div class="col-xs-10 text-center">
      <div id="donut-example"></div>
    </div>
    <div class="col-xs-1 text-center">
    </div>
  </div>

  <!-- Morris Bar Chart -->
  <div class="row">
    <div class="col-xs-1 text-center">
    </div>
    <div class="col-xs-10 text-center">
      <div id="bar-example"></div>
    </div>
    <div class="col-xs-1 text-center">
    </div>
  </div>
</div><!-- Close Container -->

<%= render 'layouts/footer' %>





