<%= render 'layouts/navbar' %>

<div class="container">

  <!-- Goal Information from Wolfram -->
  <div class="row">
    <div class="col-xs-1 text-center">
    </div>
    <div class="col-xs-10 text-center">
        <h1 class="subhead">Your goal</h1>
        <h1 class="headline"><%= @goal.name%></h1>
        <h3>Distance: <%= @goal.distance%> miles</h3></br>
    </div>
    <div class="col-xs-1 text-center">
    </div>
  </div>

  <!-- Goal Navbar -->
  <div class="row">
    <div class="col-xs-1 text-center">
    </div>
    <div class="col-xs-10 text-center">
      <%= render 'goalnavbar' %>
    </div>
    <div class="col-xs-1 text-center">
    </div>
  </div>


  <!-- Morris Charts -->
  <div class="row"> 
    <div class="col-xs-1 text-center">
    </div>
    <div class="col-xs-10 text-center">

    <!-- Morris Line Chart -->
    <div class="text-center" id="goalarea">
    </div>

    <!-- Morris Donut Chart -->
    <div class="row">
      <div class="col-xs-1 text-center">
      </div>
      <div class="col-xs-10 text-center">
        <div id="goaldonut" class="swap">
        </div>
      </div>
      <div class="col-xs-1 text-center">
      </div>
    </div>
  </div>


<%= render 'layouts/footer' %>





