<%= render 'layouts/navbar' %>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class=".col-xs-3 text-center">



        <h1 class="headline">Climbing <%= @goal.name%></h1>
        <h3>Distance: <%= @goal.input_interpretation%></h3></br>
        <h3>testing: <%= @goal.distance%></h3></br>

<%= button_to "Delete Goal", @goal, method: :delete, class: "btn btn-primary btn-lg" %> 
<%= link_to "Invite friends", "", class: "btn btn-primary btn-lg" %>
<a href="#"><div class="fa fa-facebook fa-3x" data-href="http://developers.facebook.com/docs/plugins/"></div></a>
<a herf="#"><i class="fa fa-twitter fa-3x"></i></a>
<a herf="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
<a herf="#"><i class="fa fa-envelope fa-3x"></i></a>
<div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button"></div>

        <!-- Morris Line Chart -->
<div id="area-example"  style="height: 500px; width: 100%;"></div>



    </div>
  </div>
</div>



<script>

// Area Chart

Morris.Area({
  element: 'area-example',
  data: [
    { y: '2006', a: 0, b: 0 },
    { y: '2007', a: 10,  b: 65 },
    { y: '2008', a: 20,  b: 40 },
    { y: '2009', a: 30,  b: 65 },
    { y: '2010', a: 40,  b: 40 },
    { y: '2011', a: 50,  b: 65 },
    { y: '2012', a: 1000, b: 90 }
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Series A', 'Series B']
});

</script>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=374885109276440";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>